@charset "utf-8";
/* CSS Document */

/**all*/
.all{ position:relative;}



/***content*/
@media screen and (min-width:768px){
.content{ position:relative; overflow:auto;width:80%; margin-bottom:70px; height:auto !important;}
.content h1,.content h2{width:60%;margin:0 auto;}
.content p{ width:60%; display:block; margin:0 auto; margin-top:30px;}
.p1{ width:100px; position:absolute; bottom:240px;left:50%; margin-left:-70px; }
.p1 a{ display:block; float: left; margin-left:50px;}
}

@media (min-width:376px) and (max-width:767px){
.content{ position:relative; overflow:auto;width:80%; margin-bottom:70px; height:auto !important;}
.content h1,.content h2{width:60%;margin:0 auto;}
.content p{ width:60%; display:block; margin:0 auto; margin-top:30px;}
.p1{ width:100px; position:absolute; bottom:240px;left:50%; margin-left:-70px; }
.p1 a{ display:block; float: left; margin-left:50px;}
}
@media only screen and (max-width:375px){
.content{ position:relative; overflow:auto;width:80%; margin-bottom:70px; height:auto !important;}
.content h1,.content h2{width:60%;margin:0 auto;}
.content p{ width:60%; display:block; margin:0 auto; margin-top:30px;}
.p1{ width:100px; position:absolute; bottom:180px;left:50%; margin-left:-70px;}
.p1 a{ display:block; float: left; margin-left:50px;}
}